#include "resource.h"

LANGUAGE 9, 1

/////////////////////////////////////////////////////////////////////////////
//
// Icon
//

// Icon with lowest ID value placed first to ensure application icon
// remains consistent on all systems.

IDI_APP                 ICON         "HDRTray.ico"
IDI_HDR_OFF             ICON         "hdr-off.ico"
IDI_HDR_ON              ICON         "hdr-on.ico"

/////////////////////////////////////////////////////////////////////////////
//
// Menu
//

IDC_TRAYPOPUP MENU
BEGIN
    POPUP "Dummy"
    BEGIN
        MENUITEM "&Quit",                IDM_EXIT
    END
END

/////////////////////////////////////////////////////////////////////////////
//
// String Table
//

STRINGTABLE
BEGIN
   IDS_APP_TITLE       "HDRTray"
END
