#include "resource.h"

LANGUAGE 9, 1

/////////////////////////////////////////////////////////////////////////////
//
// Icon
//

// Icon with lowest ID value placed first to ensure application icon
// remains consistent on all systems.

IDI_APP                 ICON         "HDRTray.ico"
IDI_HDR_OFF_DARKMODE    ICON         "icons/sdr-darkmode.ico"
IDI_HDR_OFF_LIGHTMODE   ICON         "icons/sdr-lightmode.ico"
IDI_HDR_ON_DARKMODE     ICON         "icons/hdr-darkmode.ico"
IDI_HDR_ON_LIGHTMODE    ICON         "icons/hdr-lightmode.ico"

/////////////////////////////////////////////////////////////////////////////
//
// Menu
//

IDC_TRAYPOPUP MENU
BEGIN
    POPUP "Dummy"
    BEGIN
        MENUITEM "&Quit",                IDM_EXIT
    END
END

/////////////////////////////////////////////////////////////////////////////
//
// String Table
//

STRINGTABLE
BEGIN
   IDS_APP_TITLE        "HDRTray"
   IDS_HDR_UNSUPPORTED  "HDR not supported"
   IDS_HDR_OFF          "HDR is off"
   IDS_HDR_ON           "HDR is on"
   IDS_WINDOWS_TOO_OLD  "Sorry, HDRTray only works on Windows 10, version 1803 and above"
END
