#include "resource.h"

LANGUAGE 9, 1

/////////////////////////////////////////////////////////////////////////////
//
// Icon
//

// Icon with lowest ID value placed first to ensure application icon
// remains consistent on all systems.

IDI_APP                 ICON         "icons/app.ico"
IDI_HDR_OFF_DARKMODE    ICON         "icons/sdr-darkmode.ico"
IDI_HDR_OFF_LIGHTMODE   ICON         "icons/sdr-lightmode.ico"
IDI_HDR_ON_DARKMODE     ICON         "icons/hdr-darkmode.ico"
IDI_HDR_ON_LIGHTMODE    ICON         "icons/hdr-lightmode.ico"

/////////////////////////////////////////////////////////////////////////////
//
// Menu
//

IDC_TRAYPOPUP MENU
BEGIN
    POPUP "Dummy"
    BEGIN
        MENUITEM "Enable &HDR", IDM_ENABLE_HDR
        MENUITEM "&Configuration...",    IDM_CONFIGURATION
        MENUITEM "&Start when logging in", IDM_LOGIN_STARTUP
        MENUITEM "&Quit",                IDM_EXIT
    END
END

/////////////////////////////////////////////////////////////////////////////
//
// String Table
//

STRINGTABLE
BEGIN
   IDS_APP_TITLE        "HDRTray"
   IDS_HDR_UNSUPPORTED  "HDR not supported"
   IDS_HDR_OFF          "HDR is off\nClick to turn on HDR"
   IDS_HDR_ON           "HDR is on\nClick to turn off HDR"
   IDS_WINDOWS_TOO_OLD  "Sorry, HDRTray only works on Windows 10, version 1809 and above"
   IDS_TOGGLE_HDR_ERROR "Failed to switch HDR mode"
   IDS_CONFIG_LAUNCH_FAIL "Failed to start configuration utility:\n{}"
   IDS_STARTUP_TOGGLE_FAIL "Failed to change 'Start when logging in'"
END


//
// Version Info
//
#include "version.rc"
